<div class="umb-panel">
    <div class="umb-panel-body no-header">
        <ul class="unstyled">
            <li ng-repeat="crop in model.value">
                <h4>{{crop.id}} ({{crop.widthdisplay}}x{{crop.heightdisplay}}, quality: {{crop.compression}})</h4>
                <a href="{{crop.previewurl}}" target="_blank">
                    <img src="{{crop.previewurl}}" />
                </a>
            </li>
        </ul>
    </div>
    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href ng-click="close()" class="btn btn-link">
                    <localize key="general_close">Close</localize>
                </a>
            </div>
        </div>
    </div>
</div>